body{
    background-image:url(../images/astro.jpg);
    background-size: 100%;
    font-size:2rem;
    font-family: Impact, 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
    color: white;
}
h1{
    margin:10px;
}
.game{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.reset{
    text-transform:uppercase;
}
.inline{
    min-width: 0;
    overflow:hidden;
    margin:5px;
}
#gameInfo{
    font-size: 3rem;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-bottom:100px;
}
#wordGuess{
    font-size: 5rem;
}
#wrongGuess{
    color:violet;
    font-size:3rem;

}